@import '@nuxt/ui';
@import 'tailwindcss';

/* .calendar-container {
    margin: 10px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    color: #dddddd;
} */

/* .calendar-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
} */

/* .month-week-switch-container {
    display: flex;
    align-items: center;
    gap: 7px;
} */

@theme {
    --breakpoint-xs: 375px;
}